@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.textDiv {
    width: 90%;
    font-size: 1.15rem;
}


/*Main body information styling*/
.main-container {
    position: relative;

    margin: 4% 0 10% 0;
    width: 95vw;
    display: grid;
    grid-template-columns: repeat(15, 6vw);
    grid-template-rows: repeat(15, 6vw);
    grid-gap: 0;
    justify-items: center;
    align-items: center;
    justify-content: center;
}


.centreImage {
    position: absolute;
    left: 0.5%;
    right: 0;
    z-index: 4;

    width: 45vw;
    margin: 0 auto;

}

/*brewed_script related css*/
.fixCoffeeMessage {
    position: absolute;
    top: 700px;
    left: 0;
    right: 0;
    z-index: 20;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    padding: 0 10% 0 10%;
    width: 75vw;

    background-color: rgba(188,232,241,0.95);
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    text-align: center;
    font-size: 0.75rem;
}

.fixCoffeeMessage p {
    padding: 0 5% 5% 5%;
}

.button {
    position: absolute;
    right: 2.5%;
    top: 2.5%;

    display: inline-block;

    background-color: transparent;
    border: none;

    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
}

.button:hover {
    background-color: hotpink;
    color: white;
}

/* Following is CSS relating to the table cells */

.option {
    width: 11vw;
    height: 90%;

    border: 1px solid rgb(0,0,0);
    border-radius: 10%;
    background-color: rgba(241,188,232, 0.5);

    font-size: 1.5vw;
    text-align: center;
}

.option:hover {
    z-index: 10;

    background-color: rgba(241,188,232, 0.8);
    border: 2px solid rgb(0,0,0);

    font-size: 1.6vw;

}

/* Titles */

.one-eight {
    grid-column: 1 ;
    grid-row: 8 ;
}

.eight-one {
    grid-column: 8 ;
    grid-row: 1 ;
}

.fifteen-eight {
    grid-column: 15 ;
    grid-row: 8 ;
}

.eight-fifteen {
    grid-column: 8 ;
    grid-row: 15 ;
}

/* X2/Y7 - X7/Y2 */

.two-seven {
    grid-column: 2 ;
    grid-row: 7 ;
}

.three-six {
    grid-column: 3 ;
    grid-row: 6 ;
}

.four-five {
    grid-column: 4 ;
    grid-row: 5 ;
}

.five-four {
    grid-column: 5 ;
    grid-row: 4 ;
}

.six-three {
    grid-column: 6 ;
    grid-row: 3 ;
}

.seven-two {
    grid-column: 7 ;
    grid-row: 2 ;
}

/* X2/Y9 - X7/Y14 */

.two-nine {
    grid-column: 2 ;
    grid-row: 9 ;
}

.three-ten {
    grid-column: 3 ;
    grid-row: 10 ;
}

.four-eleven {
    grid-column: 4 ;
    grid-row: 11 ;
}

.five-twelve {
    grid-column: 5 ;
    grid-row: 12 ;
}

.six-thirteen {
    grid-column: 6 ;
    grid-row: 13 ;
}

.seven-fourteen {
    grid-column: 7 ;
    grid-row: 14 ;
}

/* X9/Y14 - X14/Y7 */
.nine-fourteen {
    grid-column: 9 ;
    grid-row: 14 ;
}

.ten-thirteen {
    grid-column: 10 ;
    grid-row: 13 ;
}

.eleven-twelve {
    grid-column: 11 ;
    grid-row: 12 ;
}

.twelve-eleven {
    grid-column: 12 ;
    grid-row: 11 ;
}

.thirteen-ten {
    grid-column: 13 ;
    grid-row: 10 ;
}

.fourteen-nine {
    grid-column: 14 ;
    grid-row: 9 ;
}

/*X14/Y8 - X9/Y2*/
.fourteen-seven {
    grid-column: 14 ;
    grid-row: 7 ;
}

.thirteen-six {
    grid-column: 13 ;
    grid-row: 6 ;
}

.twelve-five {
    grid-column: 12 ;
    grid-row: 5 ;
}

.eleven-four {
    grid-column: 11 ;
    grid-row: 4 ;
}

.ten-three {
    grid-column: 10 ;
    grid-row: 3 ;
}

.nine-two {
    grid-column: 9 ;
    grid-row: 2 ;
}

/* Media Queries */
@media only screen and (min-width: 700px) {
    .textDiv {
        width: 70%;
        padding-bottom: 2%;

        border-bottom: 1px solid black;

        font-size: 1.5rem;
    }

    .main-container {
        grid-template-columns: repeat(15, 6vw);
        grid-template-rows: repeat(15, 6vw);
        grid-gap: 0;

        font-size: 1.75vw;
    }

    .fixCoffeeMessage {
        font-size: 1.25rem;
    }

    .button {
        position: absolute;
        right: 5%;
        top: 5%;

        display: inline-block;

        border: none;

        color: black;
        text-align: center;
        text-decoration: none;
        font-size: 4rem;
    }
}

@media only screen and (min-width: 1200px) {

    .main-container {
        grid-template-rows: repeat(15, 6vw);

        font-size: 2rem;
    }

    .textDiv {
        width: 60%;
    }


    .fixCoffeeMessage {
        height: 20rem;
    }
}