@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.textDiv {
    width: 90%;
    font-size: 1.15rem;
}

/* Link styling */


#better {
    margin-top: 7.5%;
    border-top: 2px solid black;
}

#worse {
    margin-bottom: 7.5%;
    border-bottom: 2px solid black;
}

#better,
#worse {
    padding: 1.5%;
    font-size: 1.25vw;
}

/*Main body information styling*/
.main-container {
    display: grid;
    grid-template-columns: repeat(7, 13vw);
    grid-template-rows: repeat(3, 17vw);
    grid-gap: 2px;
    justify-items: center;
    align-items: center;
    justify-self: center;
    justify-content: center;
    position: relative;
    padding: 0.5%;
}



/*espresso_script related css*/
.fixCoffeeMessage {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 40%;
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
    padding: 0 10% 0 10%;
    width: 75vw;
    z-index: 20;
    background-color: rgba(188,232,241,0.95);
    border: 2px solid black;
    text-align: center;
    font-size: 0.75rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fixCoffeeMessage p {
    padding: 0 5% 5% 5%;
}

.button {
    position: absolute;
    right: 2.5%;
    top: 2.5%;
    background-color: transparent;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
}

.button:hover {
    background-color: hotpink;
    color: white;
}

/* Following is CSS relating to the table cells */
.increase-yield,
.increase-yield-improve-extraction{
    background-color: rgb(241,188,232);
}

.good {
    background-color: rgb(188, 241, 197);

}

.decrease-yield,
.decrease-yield-improve-extraction{
    background-color: rgb(241,197,188);
}

.improve-extraction {
    background-color: rgb(232,241,188);
}

.option {
    display: flex;

    flex-direction: column;
    justify-content: center;
    width: 13vw;
    height: 17vw;

    border-radius: 10%;

    text-align: center;
    font-size: 1.75vw;
    line-height: 0.25;
}

.option:hover {
    color: gray;
    z-index: 10;
}


/* Row One */

.one-one {
    grid-column: 1 ;
    grid-row: 1 ;
}

.one-two {
    grid-column: 2 ;
    grid-row: 1 ;
}

.one-three {
    grid-column: 3 ;
    grid-row: 1 ;
}

.one-four {
    grid-column: 4 ;
    grid-row: 1 ;
}

.one-five {
    grid-column: 5 ;
    grid-row: 1 ;
}

.one-six {
    grid-column: 6 ;
    grid-row: 1 ;
}

.one-seven {
    grid-column: 7 ;
    grid-row: 1 ;
}


/* Row Two */
.two-two {
    grid-column: 2 ;
    grid-row: 2 ;
}

.two-three {
    grid-column: 3 ;
    grid-row: 2 ;
}

.two-four {
    grid-column: 4 ;
    grid-row: 2 ;
}

.two-five {
    grid-column: 5 ;
    grid-row: 2 ;
}

.two-six {
    grid-column: 6 ;
    grid-row: 2 ;
}



/* Row Three */
.three-three {
    grid-column: 3 ;
    grid-row: 3 ;
}

.three-four {
    grid-column: 4 ;
    grid-row: 3 ;
}

.three-five {
    grid-column: 5 ;
    grid-row: 3 ;
}



/* Media Queries */
@media only screen and (min-width: 700px) {
    .textDiv {
        width: 70%;
        border-bottom: 1px solid black;
        padding-bottom: 2%;
        font-size: 1.5rem;
    }

    .option {
        border: 1px solid black;
    }


    .fixCoffeeMessage {
        font-size: 1.25rem;
    }

    .button {
        position: absolute;
        right: 5%;
        top: 5%;
        border: none;
        color: black;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 4rem;
    }
}


@media only screen and (min-width: 1200px) {


    .textDiv {
        width: 60%;
    }

    .main-container {
        grid-template-columns: repeat(7, 9vw);
        grid-template-rows: repeat(3, 9vw);
        grid-gap: 2px;
    }

    .option {
        width: 9vw;
        height: 9vw;

        font-size: 1vw;
    }


    .fixCoffeeMessage {
        height: 20rem;
    }
}