@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

* {
    box-sizing: border-box;
}

/*Homepage Styling*/
#pageChoice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-bottom: 5%;
}

#brewChoice,
#espressoChoice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.choiceImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: auto;
    margin: 10% 0;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

#pageChoice a:hover {
    background-color: rgba(0, 0, 0, 0.25);

}

#pageChoice p {
    margin: 0 auto 10% auto;
    position: absolute;
    top: 20%;
    left: auto;
    right: auto;
    color: hotpink;
    z-index: 1;
    font-size: 5vw;
    background-color: rgba(0,0,0,0.50);
    padding: 5%;
    text-align: center;
}

/*Main styling*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #bce8f1;
    border-bottom: 4px solid #000000;
    width: 100%;
    font-size: 2.15vw;
}

header h1 {
    margin-left: 2.5%;
}

.explainer {
    width: 90%;
    line-height: 2;
    padding: 2.5% 0;

}

.explainer p {
    padding: 0 3%;
    text-align: left;
    font-size: 0.9rem;
}

.textDiv {
    width: 90%;
    font-size: 1.15rem;
    text-align: center;
}

/* Link styling */

/* unvisited link */
a:link,
a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: hotpink;
    text-decoration: none;
}

/* selected link */
a:active {
    color: blue;
    text-decoration: none;
}


#footer {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    background-color: #bce8f1;
    border-top: 4px solid #000000;
    width: 100%;
    margin-top: auto;
    font-size: 0.75rem;
}

#footer p {
    padding-left: 5%;
}


/* Media Queries */
@media only screen and (min-width: 700px) {
    /*Dashboard Style*/
   .choiceImage {
       width: 550px;
       height: 330px;
   }
    #pageChoice p {
        font-size: 2rem;
    }

    header {
        font-size: 1.5vw;
    }

    .explainer {
        width: 70%;
    }

    .explainer p {
        padding: 0 2%;
        font-size: 1.25rem;
        border-left: 1px solid #000000;
        border-right: 1px solid #000000;
    }

    .textDiv {
        width: 70%;
        border-bottom: 1px solid black;
        padding-bottom: 2%;
        font-size: 1.5rem;
    }

    #footer {
        font-size: 1rem;
    }
}


@media only screen and (min-width: 1200px) {
    /*Dashboard Style*/
    #pageChoice {
        flex-direction: row;
        margin: 2.5% 0;
        width: 70vw;
    }

    #brewChoice,
    #espressoChoice {
        margin: 5%;
        flex: 0.5 0.5;
    }

    header h1 {
        margin-left: 20%;
    }

    .explainer,
    .textDiv {
        width: 60%;
    }

    #footer {
        padding: 0.5% 0 0.5% 0;
    }
}

