/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 20; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #f6f6f6;
    border-right: 2px solid black;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    background-color: hotpink;
    color: black;
}

.sidebar a:visited {
    color: black;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    color: black;
    top: 0;
    right: 25px;
    font-size: 36px;
    padding: 8px;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 4vw;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 2.5vw 3.75vw;
    border: none;
}

.openbtn:hover {
    background-color: rgba(0,0,0,0.5);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
}

/* Media Queries */
@media only screen and (min-width: 450px) {
    .openbtn {
        font-size: 1.75em;
        padding: 11px 17px;
    }
}

@media only screen and (min-width: 1200px) {
    .openbtn {
        margin-left: 15%;

    }
}